<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Рецепты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container py-3" bis_skin_checked="1">
        <br>
        <header data-bs-theme="dark">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <h2 class="navbar-brand" href="#">SportEat</h2>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Разделы</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <br>
        <main>
            <div class="container marketing p-5 pb-md-4 mx-auto text-center" bis_skin_checked="1">
                <div class="row">
                    <div class="col-lg-4">
                        <img th:src="@{/images/breakfast.png}" width="140px" height="140px" alt="Logo"/><br>
                        <h2 class="fw-normal">Завтрак</h2>
                        <p>Разнообразные рецепты завтраков начиная от незамысловатых запеканок до омлета из страусинного яйца.</p>
                        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img th:src="@{/images/lunch.png}" width="140px" height="140px" alt="Logo"/><br>
                        <h2 class="fw-normal">Обед</h2>
                        <p>Множество различных видов приготовления обеда подходящих как для массонабора или удержания веса, так и для сушки.</p>
                        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img th:src="@{/images/dinner.png}" width="140px" height="140px" alt="Logo"/><br>
                        <h2 class="fw-normal">Ужин</h2>
                        <p>Многообразие рецептов для ужина в самых различных проявлениях, будь то белковая бомба или низкокалорийный салат.</p>
                        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
                        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
                    </div>
                    <div class="col-md-5">
                        <img th:src="@{/images/breakfast_example.png}" width="500px" height="500px" alt="Logo"/><br>
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
                        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img th:src="@{/images/lunch_example.png}" width="500px" height="500px" alt="Logo"/><br>
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
                        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                    </div>
                    <div class="col-md-5">
                        <img th:src="@{/images/dinner_example.png}" width="500px" height="500px" alt="Logo"/><br>
                    </div>
                </div>

                <hr class="featurette-divider">

            </div><!-- /.container -->

            <footer class="container">
                <p>&copy; 2017–2023 Company, Inc. &middot; <a href="#"></a> &middot; <a href="#"></a></p>
            </footer>
        </main>
        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </div>
</body>
</html>